<h1>Products::Amazon#create</h1>
<div>
  <%= image_tag @product.image_url %>
  <ul>
    <li>
      id : <%= @product.id %>
    </li>
    <li>
      name : <%= @product.name %>
    </li>
    <li>
      asin : <%= @product.asin %>
    </li>
  </ul>
</div>